.mouseoverEffect {
	overflow:		hidden;
	position:		relative;	/* 相対位置指定 */
}

.mouseoverEffect .caption {
	font-size:		130%;
	font-family: 	'Wellfleet', cursive;
	text-align: 	center;
	padding:		1.5rem 2rem;;
	color:			#fff;
}

.mouseoverEffect .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.mouseoverEffect:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

/* Tilt Effect start */
.tilt{
	transition: all 0.5s ease;
}

.tilt:hover {
	transform: rotate(-10deg);
}

/* decorated ruled line effect start */

.multi{
	padding:6px 0;
	border-bottom:8px solid #ABDEF7;
	position:relative;
}
.multi:before, h2.multi:after{
	content:"";
	display:block;
	height:8px;
	position:absolute;
	bottom:-8px;
}
.multi:before{
	width:20%;
	left:8%;
	background:rgba(255,255,255,0.7);
}
.multi:after{
	width:30%;
	left:12%;
	background:rgba(87,176,224,0.6);
}

.books_summary {
    color: #000;
    background: #fff;
    padding: 20px;
    border: 2px dashed rgba(155, 75, 10, 0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #fff, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #fff, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #fff, 0 2px 3px 5px rgba(0,0,0,0.5);
}
